[Unit]
Description=dub-registry mirror
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Group=dub-registry
User=dub-registry
ExecStart=/home/dub-registry/dub-registry/dub-registry --mirror=https://code.dlang.org --hostname={{ inventory_hostname }} --bind=127.0.0.1 --port={{ dub_registry_http_port }}
WorkingDirectory=/home/dub-registry/dub-registry
MemoryLimit=1.5G
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
