#!groovy
import jenkins.model.Jenkins
import jenkins.model.JenkinsLocationConfiguration
import jenkins.security.s2m.AdminWhitelistRule

def instance = Jenkins.getInstance()

instance.setNumExecutors(0) // no builds on master
instance.setSlaveAgentPort([{{ jenkins_slave_agent_port }}])
instance.getInjector().getInstance(AdminWhitelistRule.class).setMasterKillSwitch(false);

def loccfg = new jenkins.model.JenkinsLocationConfiguration();
loccfg.setUrl('{{ jenkins_url }}')
{% if jenkins_admin_email %}
loccfg.setAdminAddress('{{ jenkins_admin_email }}');
{% endif %}

instance.save()
