#!groovy
import hudson.model.Node
import hudson.slaves.DumbSlave
import hudson.slaves.JNLPLauncher
import hudson.slaves.RetentionStrategy
import java.util.logging.Logger
import jenkins.model.Jenkins
import jenkins.model.JenkinsLocationConfiguration
import jenkins.security.s2m.AdminWhitelistRule
import jenkins.slaves.RemotingWorkDirSettings
import org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher

def logger = Logger.getLogger("")
def instance = Jenkins.getInstance()

logger.info('configuring executors and slaves')

instance.setNumExecutors(0) // no builds on master
instance.setSlaveAgentPort([{{ jenkins_slave_agent_port }}])
instance.getInjector().getInstance(AdminWhitelistRule.class).setMasterKillSwitch(false);

def loccfg = new jenkins.model.JenkinsLocationConfiguration();
loccfg.setUrl('{{ jenkins_url }}')
{% if jenkins_admin_email %}
loccfg.setAdminAddress('{{ jenkins_admin_email }}');
{% endif %}

instance.save()

{% for host in groups.jenkins_permanent_slaves %}
instance.addNode(
new DumbSlave("{{ host }}", "", '/var/lib/jenkins', '4',
        Node.Mode.NORMAL, '',
        new JNLPLauncher(true), new RetentionStrategy.Always(),
        new ArrayList())
)
{% endfor %}

{% for host in groups.jenkins_demand_slaves %}
instance.addNode(
new DumbSlave("{{ host }}", "", '/var/lib/jenkins', '4',
        Node.Mode.NORMAL, '',
        new SetupSlaveLauncher(
            new JNLPLauncher(true),
            "{{ hostvars[host].host_start_cmd }}",
            "{{ hostvars[host].host_stop_cmd }}",
        ),
        new RetentionStrategy.Demand(0, 1),
        new ArrayList())
)
{% endfor %}
